<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Computer Compare List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

        body {
            font-family: 'Roboto Slab', serif;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1>SaveYourSpecs</h1>

                <div class="d-flex">
                    <button type="button" class="btn btn-primary">Exit</button>
                </div>
        </div>
    </nav>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#Id</th>
                <th>Overview</th>
                <th>System Components</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <td>1</td>
            <td>Test OV</td>
            <td>Test SC</td>
            <td>999</td>
            <td>
                <a class="btn btn-info" href="#" role="button">View</a>
                <a class="btn btn-warning" href="#" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Remove</a>
            </td>
        </tbody>
    </table>


</body>

</html>