<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Computer Compare List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

    body {
        font-family: 'Roboto Slab', serif;
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1>SaveYourSpecs</h1>

                <div class="d-flex">
                    <button class="btn btn-outline-success" type="submit">Exit</button>
                </div>
        </div>
    </nav>


</body>

</html>